<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.UserInfoMapper">
    
    <resultMap type="edu.bupt.domain.UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="email"    column="email"    />
        <result property="photo"    column="photo"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="currentAddress"    column="current_address"    />
        <result property="hobbyTags"    column="hobby_tags"    />
        <result property="consumeTags"    column="consume_tags"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, username, phone_number, email, photo, longitude, latitude, current_address, hobby_tags, consume_tags, status from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="edu.bupt.domain.UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
        </where>
    </select>
    
    <select id="selectUserInfoById" parameterType="Long" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserInfo" parameterType="edu.bupt.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">username,</if>
            <if test="phoneNumber != null ">phone_number,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="photo != null  and photo != ''">photo,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="currentAddress != null  and currentAddress != ''">current_address,</if>
            <if test="hobbyTags != null  and hobbyTags != ''">hobby_tags,</if>
            <if test="consumeTags != null  and consumeTags != ''">consume_tags,</if>
            <if test="status != null ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">#{username},</if>
            <if test="phoneNumber != null ">#{phoneNumber},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="photo != null  and photo != ''">#{photo},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="currentAddress != null  and currentAddress != ''">#{currentAddress},</if>
            <if test="hobbyTags != null  and hobbyTags != ''">#{hobbyTags},</if>
            <if test="consumeTags != null  and consumeTags != ''">#{consumeTags},</if>
            <if test="status != null ">#{status},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="edu.bupt.domain.UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="phoneNumber != null ">phone_number = #{phoneNumber},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="photo != null  and photo != ''">photo = #{photo},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="currentAddress != null  and currentAddress != ''">current_address = #{currentAddress},</if>
            <if test="hobbyTags != null  and hobbyTags != ''">hobby_tags = #{hobbyTags},</if>
            <if test="consumeTags != null  and consumeTags != ''">consume_tags = #{consumeTags},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserInfoById" parameterType="Long">
        delete from user_info where id = #{id}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>