<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.RegisterMapper">
    
    <resultMap type="edu.bupt.domain.Register" id="RegisterResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="email"    column="email"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectRegisterVo">
        select id, username, password, phone_number, email, status from register
    </sql>

    <select id="selectRegisterList" parameterType="edu.bupt.domain.Register" resultMap="RegisterResult">
        <include refid="selectRegisterVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
        </where>
    </select>
    
    <select id="selectRegisterById" parameterType="Long" resultMap="RegisterResult">
        <include refid="selectRegisterVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRegister" parameterType="edu.bupt.domain.Register">
        insert into register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="username != null  and username != ''">username,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="phoneNumber != null ">phone_number,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="status != null ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="phoneNumber != null ">#{phoneNumber},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="status != null ">#{status},</if>
         </trim>
    </insert>

    <update id="updateRegister" parameterType="edu.bupt.domain.Register">
        update register
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="phoneNumber != null ">phone_number = #{phoneNumber},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRegisterById" parameterType="Long">
        delete from register where id = #{id}
    </delete>

    <delete id="deleteRegisterByIds" parameterType="String">
        delete from register where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>